<div class="container">
    <div class="row">
<div class="col-6">
    <p>Detalles de Facturación</p>
    <form action="">
        <div class="row">
    
          <mat-form-field class="example-full-width w-50 px-1" appearance="outline">
            <mat-label>Nombres <span class="text-danger">*</span></mat-label>
            <input matInput>
          </mat-form-field>
    
          <mat-form-field class="example-full-width w-50 px-1" appearance="outline">
            <mat-label>Apellidos <span class="text-danger">*</span></mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="example-full-width w-50 px-1" appearance="outline">
            <mat-label>Telefono de contacto <span class="text-danger">*</span></mat-label>
            <input matInput>
          </mat-form-field>
    
          <mat-form-field class="example-full-width w-50 px-1" appearance="outline">
            <mat-label>Dirección de correo electrónico <span class="text-danger">*</span></mat-label>
            <input matInput>
          </mat-form-field>
    
          <mat-form-field class="example-full-width w-100 px-1" appearance="outline">
            <mat-label>Nombre de la empresa (opcional)</mat-label>
            <input matInput>
          </mat-form-field>
    
          <mat-form-field class="example-full-width w-100 px-1" appearance="outline">
            <mat-label>Dirección de entrega <span class="text-danger">*</span></mat-label>
            <input matInput>
          </mat-form-field>
    
          <mat-form-field class="example-full-width  w-100 px-1" appearance="outline">
            <mat-label>Notas adicionales para la entrega</mat-label>
            <input matInput>
          </mat-form-field>
    
          
    
        </div>
      </form>
</div>
<div class="col-6">
    <p>Detalles de su orden</p>

    <div class="card">

    </div>
</div>
    </div>
  
</div>
